@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

@mixin fs13 {
    font-size: 13px;
    line-height: 16px;
  }

@mixin fs16 {
    font-size: 16px;
    line-height: 19px;
  }


// btn mixin
  @mixin btn-img {
    img {
      position: absolute;
      top: 35%;
      left: 45%;
  }
  }
  @mixin btn-p {
    p {
      width: 40px;
      height: 40px;
      background: $white;
      border-radius: 50%;
      border: none;
      position: absolute;
      top: 5px;
      @include btn-img;  
  }
  }
  @mixin btn {
    height: 50px;
    background: $base-color;
    border: none;
    border-radius: 54px;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $white;
    text-align: start;
    padding-left: 19px;
    cursor: pointer;
    @include btn-p;
  }
  //


  @mixin circleOrange40 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $base-color;
  }

  @mixin circleOrange80 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(241, 98, 20, 0.15);
  }
// section text base style
  @mixin sectionTitleH2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: $black;
  }

  @mixin sectionCategory {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $base-color;
    margin-bottom: 6px;
  }

  @mixin sectionText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
  }

  // base card style

  @mixin baseCard {
    width: 370px;
    height: 395px;
    border: 2px solid #EEEEEE;
    border-radius: 60px 0px;
  }

  @mixin CardItem {
    width: 370px;
    height: 419px;
    background: $white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 50px 0px;
  }